{% include 'header.html' %}
<div class="container">
    <h2>{{ exercise.title }}</h2>
    <p>{{ exercise.instructions }}</p>

    <form method="POST" enctype="multipart/form-data">
        {% if exercise.type == 'test' %}
        <input type="text" name="answer_text" placeholder="Введите ответ" required>
        {% else %}
        <textarea name="answer_text" placeholder="Текст вашего ответа"></textarea>
        <input type="file" name="result_file">
        {% endif %}
        <button type="submit" class="btn">Отправить</button>
    </form>
</div>
{% include 'footer.html' %}

